button {
    background-color: white;
    border: 2px solid #999999;
    color: black;
    width: 25px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    margin-right: -2px
}

button:focus {
   outline: none
}

button.selected {
    color: white
}

.ButtonPanel {
   margin-bottom: 5px;
}

.Table {
   display: table;
}

.Row {
   display: table-row
}

.Col {
   display: table-cell;
   vertical-align: top
}

.Bottom {
   text-align: center;
}

.LeftButtons {
   display: inline;
   float: right;
}

.LeftLabel {
   display: inline-block;
   margin-top: 2px;
   margin-right: 20px;
}

.RightButtons {
   float: left
}

.RightLabel {
   display: inline-block;
   margin-top: 2px;
   margin-left: 20px;
}

.ColorBlock {
   height: 30px;
   width: 50px;
}

.LabelBlock {
   padding-top: 5px;
}

.ColorBar {

   margin-top: 80px;
   margin-bottom: 30px;
}

.Annotation {
   font-size: 20px;
   font-weight: bold;
   font-family: sans-serif;
}

.Input {
   padding-top: 10px;
   padding-bottom: 5px;
   font-size: 15px;
   font-weight: bold;
   border: none;
   border-bottom: solid 2px #c9c9c9;
   transition: border 0.3s;
   margin-right: 40px;
   margin-bottom: 50px;
}

.Input:focus {
  outline: none;
  border-bottom: solid 2px #969696;
}

.InputBox {
   margin-top: 10px;
   width: 510px;
   font-size: 15px;
   border: solid 2px #c9c9c9;
   transition: border 0.3s;
}

.InputBox:focus {
  outline: none;
  border: solid 2px #969696;
}

.InputText {
   font-size: 15px;
   font-weight: bold;
   font-family: sans-serif;
   color: #1a8cff;
   text-transform: uppercase;
   text-align: left;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

#CenterCol {
   padding-left: 25px;
   padding-right: 25px;
}

#FullStrength {
   background-color: #4CAF50;
   color: white;
   width: 150px;
   height: 40px;
   font-size: 17px;
   border-radius: 15px;
   margin-top: 50px
}

#ClearAll {
   background-color: #4CAF50;
   color: white;
   width: 150px;
   height: 40px;
   font-size: 17px;
   border-radius: 15px;
   margin-top: 20px;
}

#Annotate {
   background-color: #4CAF50;
   color: white;
   width: 150px;
   height: 40px;
   font-size: 17px;
   border-radius: 15px;
   margin-top: 20px;
}

#ToMain {
   background-color: #4CAF50;
   color: white;
   width: 150px;
   height: 40px;
   font-size: 17px;
   border-radius: 15px;
   margin-top: 20px;
}

#Name {
   width: 200px;
}

#Age {
   width: 40px;
}

#Sex {
   width: 40px;
}

#Date {
   width: 100px;
}

#Diagnosis {
   width: 510px;
}
