div {
   display: flex;
   flex-flow: row nowrap;
}

#mainView {
   height: 700px;
   width: 1000px;

}

.sidePanel {
   flex-flow: column nowrap;
}

.buttonBank {
   flex-flow: column nowrap;
   flex-grow: 0;
}

.panelRow {
   justify-content: space-between;
   align-items: baseline;
}

.buttonRow {
   align-items: center;
   padding: 5px;
}

.leftName {
   order: -1;
}

button:focus {
   outline: none
}

.panelButton {
   border: 2px solid #999999;
   color: black;
   width: 25px;
   height: 25px;
   font-size: 15px;
   text-align: center;
   margin-left: -2px;
}

.menuButton {
   border: 2px solid #999999;
   width: 110px;
   height: 40px;
   background: white;
   font-size: 15px;
   text-align: center;
}

.menuButton:hover {
   background: #999999;
   color: white;
}

.menuButton:active {
   background: grey;
}

.misc {
   flex-flow: column nowrap;
   justify-content: space-around;
   align-items: center;
   flex-grow: 1;
}

#rightButtons {
   justify-content: space-around;
   width: 100%;
}

#colorBar {
   text-align: center;
}

.colorBox {
   flex-flow: column nowrap;
   justify-content: space-around;
   width: 45px;
   height: 45px;
   color: white;
}

#menu {
   flex-flow: column nowrap;
}

#menu .menuButton {
   margin-left: -2px;
   margin-top: -2px;
}

#miscLeft {
   padding-left: 2px;
}
