div {
   display: flex;
   flex-flow: row nowrap;
}

#mainView {
   height: 700px;
   width: 1200px;
}

.sidePanel {
   flex-flow: column nowrap;
}

.sideLabel {
   text-align: center;
   font-size: 20px;
   margin: 0px;
   margin-bottom: 20px;
}

.buttonBank {
   flex-flow: column nowrap;
   flex-grow: 0;
}

.panelRow {
   justify-content: space-between;
   align-items: baseline;
   padding-bottom: 10px;
}

.buttonRow {
   align-items: center;
}

.leftButtonRow {
   margin-right: 10px;
}

.rightButtonRow {
   margin-left: 10px;
}

.rightName {
   order: -1;
}

button:focus {
   outline: none
}

.panelButton {
   border: 2px solid #999999;
   color: black;
   background: white;
   width: 25px;
   height: 25px;
   font-size: 15px;
   font-family: monospace;
}

.number {
   margin-left: -2px;
}

.numberRow {
   padding-left: 2px;
   margin-left: 5px;
   margin-right: 5px;
}

.plusMinus {
   width: 20px;
   height: 20px;
   padding: 0px;
   font-size: 15px;
   border-radius: 20px;
}

.menuButton {
   border: 2px solid #999999;
   width: 110px;
   height: 40px;
   background: white;
   font-size: 15px;
   text-align: center;
}

.menuButton:active {
   background: grey;
}

.misc {
   flex-flow: column nowrap;
   justify-content: space-around;
   align-items: center;
   flex-grow: 1;
}

#rightButtons {
   justify-content: space-around;
   width: 100%;
}

#colorBar {
   text-align: center;
}

.colorBox {
   flex-flow: column nowrap;
   justify-content: space-around;
   width: 45px;
   height: 45px;
   color: white;
}

#menu {
   flex-flow: column nowrap;
}

#menu .menuButton {
   margin-left: -2px;
   margin-top: -2px;
}

#miscLeft {
   padding-left: 2px;
}

#annotationView {
  height: 700px;
  width: 1000px;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.row {
  margin-bottom: 30px;
}

.metadata {
  flex-flow: column nowrap;
  color: #4286f4;
  font-size: 20px;
  margin-right: 20px;
}


textarea {
   font-size: 18px;
   border: none;
   border-bottom: solid 2px #c9c9c9;
   transition: border 0.3s;
   margin-top: 10px;
   resize: none;
   outline: none;
}

textarea:focus {
   border-bottom: solid 2px #969696;
}

.fullBox {
   border: solid 2px #c9c9c9;
}

.fullBox:focus {
   border: solid 2px #969696;
}
